{% extends "layout.html"%}
{% block title%}
login
{% endblock %}
{% block body %}
    <form action="{{url_for('login')}}" method="post">
        <div class="form-group">
            <label for="username">Usename</label>
            <input class="form-control" name="username" placeholder="username" type="text"></input>

        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" name="password" placeholder="password" type="password"></input>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}