{% extends "layout.html"%}
{% block title %}
search
{% endblock %}
{% block body %}
<form class="form-inline my-2 my-lg-0" action="{{url_for('search')}}" method="post">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="search">
    <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
  </form>
  <h1>Search results</h1>
  {% for results in result %}
  <div>
    <a href="{{url_for('books',isbn=results.isbn)}}">
    <p name="title">{{results["title"]}}</p></a>
  </div>
  {% endfor %}
{% endblock %}